:root {
    --color-content: hsl(0, 0%, 100%);
    --color-content-soft: hsla(0, 0%, 100%, 80%);
    --color-content-softer: hsla(0, 0%, 100%, 50%);
    --color-content-softest: hsla(0, 0%, 100%, 20%);

    --color-background: hsl(30, 5%, 10%);
    --color-background-soft: hsla(30, 5%, 10%,50%);
    --color-background-light: hsl(210, 20%, 15%);
    --color-background-lighter: hsl(210, 20%, 20%);

    --color-primary: hsl(41, 68%, 62%);
    --color-primary-soft: hsla(41, 68%, 62%, 50%);
    --color-primary-softer: hsla(41, 68%, 62%, 20%);
    --color-primary-softest: hsla(41, 68%, 62%, 10%);
    --color-primary-lighter: hsl(58, 100%, 78%);
    --color-primary-darker: hsl(38, 52%, 45%);
}