@import "./colors.scss";
@import "./lengths.scss";

@font-face {
    font-family: 'aquire';
    src: url('../assets/fonts/Aquire/Aquire.otf') format('truetype');
}

@font-face {
    font-family: 'aquire-light';
    src: url('../assets/fonts/Aquire/AquireLight.otf') format('truetype');
}

@font-face {
    font-family: 'aquire-bold';
    src: url('../assets/fonts/Aquire/AquireBold.otf') format('truetype');
}


:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    color-scheme: light dark;
    color: var(--color-content);
    background: var(--color-background) radial-gradient(circle at center 180%, var(--color-primary-darkest) 20%, var(--color-background) 90%);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
}

html, body, #app {
}

* {
    -webkit-tap-highlight-color: transparent;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    margin: 0;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: var(--color-primary)
}